@import "reset.css";
@import "social-likes_birman.css";
@import "share.css";
@import "menubar2.css";
@import "landingg.css";
@import "predostt.css";
@import "gallery.css";
@import "responsive.css";
@import "https://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700|PT+Sans:400,400i,700,700i&subset=cyrillic";

@font-face {
  font-family: 'Lato';
  src: url(../fonts/Lato-Bold.woff);
}


@font-face {
  font-family: 'Lato';
  src: url(../fonts/Lato-Regular.woff);
}

@font-face {
  font-family: 'Monaco';
  src: url(../fonts/Monaco Plain_001.001.ttf);
  src: url(../fonts/MonacoPlain001001.woff);

}
