@import "reset.css";
@import "social-likes_birman.css";
@import "share.css";
@import "menubar2.css";
@import "landingg.css";
@import "predostt.css";
@import "gallery.css";
@import "responsive.css";

@font-face {
  font-family: 'Lato';
  src:url(../fonts/Lato-Bold.woff);
}

@font-face {
  font-family: 'Lato';
  src:url(../fonts/Lato-Regular.woff);
}

/*@font-face {
  font-family: 'Monaco';
  src:url(../fonts/Monaco.woff);
}*/
